<div class="container-fluid">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
		<h1>Note To Answer</h1>

			<%= form_for @note, url: "/users/#{current_user.id}/notes/#{@note.id}", method: "patch" do |f| %>
				<%= f.hidden_field :user_id, value: current_user.id %>
				<%= f.hidden_field :note_id, value: @note.id %>
				
				<%= f.label "What did you like the most about this person?" %>
				<%= f.text_area :paone, :required => true, class: "form-control", placeholder: "Examples: he had a beautiful smile, she made me laugh so hard I cried, he could open a bottle of wine with just a shoe, she looked like the sunrise..." %>

				<%= f.label "Did your date have any red flags or deal breakers?" %>
				<%= f.text_area :patwo, :required => true, class: "form-control", placeholder: "Examples: photos were way off, he had just moved to the city and I didn't want to act as a tour guide, she was really into horoscopes..."%>

				<%= f.label "Is there anything you would have done differently during your encounter(s) with this person?" %>
				<%= f.text_area :pathree, :required => true, class: "form-control", placeholder: "Examples: I would have had one drink less; followed up; gone in for a kiss."%>

				<%= f.label "Is there anything you would have liked your date to have done/not done during your last encounter?" %>
				<%= f.text_area :pafour, :required => true, class: "form-control", placeholder: "Examples: I wished he would have kissed me when we were sitting in the park; it would have been nice if she talked less about herself and asked me more questions."%>

				<%= f.label "Would you go on another date with this person?" %>
				<%= f.text_area :pafive, :required => true, class: "form-control", placeholder: "Yes, No, or Maybe"%>

				<%= f.label "Why?" %>
				<%= f.text_area :pasix, :required => true, class: "form-control", placeholder: "Examples: we had great chemistry; it seemed like we wanted different things in a relationship; we had varying cultural viewpoints"%>

				<br>
				 <%= f.submit "Submit", class: "btn btn-default  center-bl form-control submit" %>
			<% end %>
		</div>
	</div>
</div>




