<h1>New Form Questionnare</h1>

<%= form_for @contact, url: "/users/:id/contact", method: "post" do |f| %>
	<div class="form-group">
		<%= f.label :name, "First Name of Date", class: "control-label" %>
		<%= f.text_field :name, :required => true, class: "form-control", placeholder: "First Name" %>
	</div>
	<div class="form-group">
		<%= f.label :number, "Phone Number of Date", class: "control-label" %>
		<%= f.text_field :number, :required => true, class: "form-control", placeholder: "Phone Number" %>
	</div>
	<div class="form-group">
		<%= f.submit "Submit", class: "btn btn-default  center-bl form-control" %>
	</div>
<% end %> 


	

