<!-- This codeblock will display any error messages that come up -->

<div class="container-fluid">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
			<h3>Tells Us About Yourself</h3>
	  	<%= form_for @user, url: "/users", method: "post" do |f| %>
		    <div class="form-group">
		      <%= f.text_field :first_name, :required => true, class: "form-control", placeholder: "First Name" %>
		    </div>
		    <div class="form-group">
		      <%= f.text_field :last_name, :required => true, class: "form-control", placeholder: "Last Name" %>
		    </div>
		    <div class="form-group">
		      <%= f.text_field :phone_number, :required => true, class: "form-control", placeholder: "Phone Number" %>
		    </div>
			<h3>Create Login</h3>	
				<div class="form-group">
		      <%= f.text_field :email, :required => true, class: "form-control", placeholder: "Email@example.com" %>
		    </div>    
		    <div class="form-group">
		      <%= f.password_field :password, :required => true, class: "form-control", placeholder: "Password" %>
		    </div>  
		    <div class="form-group">
		      <%= f.password_field :password_confirmation, :required => true, class: "form-control", placeholder: "Retype Password" %>
		    </div>
		    <div class="form-group">
		      <%= f.submit "Submit", class: "btn btn-default center-bl form-control submit" %>
		    </div>
			<% end %> 
			</div>
		</div>
	</div>		
</div>