You're on Show Note

<p>Question 1</p>
<p>"What did you like the most about this person?"</p>
<p>Your Answer: <%=@note.aone%></p>
<p>Their Answer: <%=@note.paone%></p>

<p>Question 2</p>
<p>"Did your date have any red flags or deal breakers?"</p>
<p>Your Answer: <%=@note.atwo%></p>
<p>Their Answer: <%=@note.patwo%></p>

<p>Question 3</p>
<p>"Is there anything you would have done differently during your encounter(s) with this person?"</p>
<p>Your Answer: <%=@note.athree%></p>
<p>Their Answer: <%=@note.pathree%></p>

<p>Question 4</p>
<p>"Is there anything you would have liked your date to have done/not done during your last encounter?"</p>
<p>Your Answer: <%=@note.afour%></p>
<p>Their Answer: <%=@note.pafour%></p>

<p>Question 5</p>
<p>"Would you go on another date with this person?"</p>
<p>Your Answer: <%=@note.afive%></p>
<p>Their Answer: <%=@note.pafive%></p>

<p>Question 6</p>
<p>"Why?"</p>
<p>Your Answer: <%=@note.asix%></p>
<p>Their Answer: <%=@note.pasix%></p>