<div class="container-fluid">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">

			<div class="panel panel-default">
			  <div class="panel-heading">
			    <h3 class="panel-title"><strong>Question 1:</strong> "What did you like the most about this person?"</h3>
			  </div>
			  <div class="panel-body">
			    <p><strong>Your Answer:</strong> <%=@note.aone%></p>
				  </div>
			  <div class="panel-body purple">
					<p><strong>Their Answer:</strong> <%=@note.paone%></p>
			  </div>
			</div>

			<div class="panel panel-default">
			  <div class="panel-heading">
			    <h3 class="panel-title"><strong>Question 2:</strong> "Did your date have any red flags or deal breakers?"</h3>
			  </div>
			  <div class="panel-body">
			    <p><strong>Your Answer:</strong> <%=@note.atwo%></p>
				  </div>
			  <div class="panel-body purple">
					<p><strong>Their Answer:</strong> <%=@note.patwo%></p>
			  </div>
			</div>

			<div class="panel panel-default">
			  <div class="panel-heading">
			    <h3 class="panel-title"><strong>Question 3:</strong> "Is there anything you would have done differently during your encounter(s) with this person?"</h3>
			  </div>
			  <div class="panel-body">
			    <p><strong>Your Answer:</strong> <%=@note.athree%></p>
				  </div>
			  <div class="panel-body purple">
					<p><strong>Their Answer:</strong> <%=@note.pathree%></p>
			  </div>
			</div>

			<div class="panel panel-default">
			  <div class="panel-heading">
			    <h3 class="panel-title"><strong>Question 4:</strong> "Is there anything you would have liked your date to have done/not done during your last encounter?"</h3>
			  </div>
			  <div class="panel-body">
			    <p><strong>Your Answer:</strong> <%=@note.afour%></p>
				  </div>
			  <div class="panel-body purple">
					<p><strong>Their Answer:</strong> <%=@note.pafour%></p>
			  </div>
			</div>

			<div class="panel panel-default">
			  <div class="panel-heading">
			    <h3 class="panel-title"><strong>Question 5:</strong> "Would you go on another date with this person?"</h3>
			  </div>
			  <div class="panel-body">
			    <p><strong>Your Answer:</strong> <%=@note.afive%></p>
				  </div>
			  <div class="panel-body purple">
					<p><strong>Their Answer:</strong> <%=@note.pafive%></p>
			  </div>
			</div>

			<div class="panel panel-default">
			  <div class="panel-heading">
			    <h3 class="panel-title"><strong>Question 6:</strong> "Why?"</h3>
			  </div>
			  <div class="panel-body">
			    <p><strong>Your Answer:</strong> <%=@note.asix%></p>
				  </div>
			  <div class="panel-body purple">
					<p><strong>Their Answer:</strong> <%=@note.pasix%></p>
			  </div>
			</div>
		</div>
	</div>
</div>
